* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 20px;
    font-family: sans-serif;
    line-height: 180%;
}
.landing {
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
}
.links {
    display: none;
}
.hide {
    display: none;
}
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: conic-gradient(at 30% 1000%, white, #171717a2);
    transition: all 2s;
}

.navbar a {
    display: block;
    text-decoration: none;
    color: black;
    position: relative;
    top: 150px;
    left: 160px;
    line-height: 300%;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.5s;
}
.navbar a:hover {
    font-size: 19px;
    color: #f15d4e;
}
.menuclose {
    position: absolute;
    right: 20px;
    top: 20px;
}

.web3 {
    background: url("./assets/images/image-web-3-mobile.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height:360px;
}
.section-one {
    margin-top: 30px;
}
.section-one > h1 {
    margin-top: 30px;
}
.section-one > h1, p, .section-three > h3 {
    color: #12123e;
}
.section-one > p {
    margin-top: 20px;
}
button {
    font-size: 15px;
    font-weight: bold;
    background-color: #f15d4e;
    letter-spacing: 4px;
    color: white;
    border: none;
    padding: 16px 25px;
    margin-top: 20px;
}

/* *****************************
*********SECTION TWO********* */

.section-two {
    background-color: #0b0b26;
    color: white;
    padding: 20px;
}
.section-two > h1 {
    color: #eba546;
}
.section-two > h3 {
    margin: 30px 0 15px;
    font-size: 22px;
}
.section-two > p {
    color: rgb(204, 203, 203);
    font-weight: 100;
}
hr {
    margin: 40px 0;
}

/* *****************************
*********SECTION THREE********* */

.section-three {
    margin-top: 90px;
}
.summary > h1 {
    color: rgb(204, 203, 203);
}
.summary > h3 {
    margin: 3px 0;
}
.summary > p {
    margin-bottom: 20px;
    font-weight: 100;
}

.parts {
    display: flex;
}
.summary {
    margin-left: 20px;
}


.attribution {
    margin-top: 18vh;
    text-align: center;
}
.attribution a{
    text-decoration: none;
}



@media screen and (min-width: 769px) {
    .menu {
        display: none;
    }
    .links {
        display: inline;
    }
    .links a{
        text-decoration: none;
        color: gray;
        padding: 0 15px;
        transition: all 0.5s;
    }
    .links a:hover {
        color: #f15d4e;
    }
    .section-one {
        display: none;
    }
    .landing {
        min-height: auto;
    }
    .part-one {
        display: contents;
    }
    .web4 {
        background: url("./assets/images/image-web-3-mobile.jpg") no-repeat;
        background-size: cover;
        width: 100%;
        height:360px;
        grid-area: header;
    }
    .part-one > h1 { 
        font-size: 37px;
        grid-area: title;
        line-height: 140%;
    }
    .part-one > p { 
        font-size: 15px;
        text-align: left;
        grid-area: intro;
    }
    button { grid-area: btn;}
    .section-two { grid-area: new;}
    .grid-one {
        display: grid;
        grid-template-areas: 
        'header header new'
        'header header new'
        'title intro new'
        'title btn new';
        gap: 20px;
    }
    main {
        margin-top: 20px;
    }
    

}


@media screen and (min-width: 1024px) {
    body {
        padding: 20px 30px;
    }

    .part-one > h1 { 
        font-size: 53px;
        width: 75%;
    }
    .part-one > p { 
        font-size: 18px;
    }
    button { 
        width: 60%;
    }
    .section-two { grid-area: new;}
    .grid-one { gap: 20px;}
    main {
        margin-top: 35px;
    }
    .section-three {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}